<mat-card>Ingrese los datos del producto</mat-card>

<form class="example-container" [formGroup]="form" #frmProducto="ngForm" (ngSubmit)="operar()">

   <!-- <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="cod_sucursal">
        </mat-form-field>
    </div>-->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="ID" minlength="2" maxlength="2" required formControlName="cod_producto">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" minlength="2" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Precio"  required formControlName="precio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmProducto.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/producto' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>

