<div>
    <label>Float label: </label>
    <br>
    <mat-radio-group >
      <mat-radio-button value="1"></mat-radio-button>
      <mat-form-field appearance="fill">
        <mat-label>Nombre Cliente</mat-label>
        <input id="nombre" name="nombre" matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Buscar</button>
      <br>
      <mat-radio-button value="2"></mat-radio-button>
      <mat-form-field appearance="fill">
        <mat-label>Dni Cliente</mat-label>
        <input id="dni" name="dni" matInput>
     </mat-form-field>
      <button mat-raised-button color="primary">Nuevo</button>
    </mat-radio-group>
  </div>